/Ej01GuiaJPA-Libreria/nbproject/private/
/Ej01Guia14JPA-Libreria/nbproject/private/
/Ej01Guia14JPA-Libreria/build/
/Ej01Guia14JPA-Libreria1/nbproject/private/
/Ej01Guia14JPA-Libreria1/build/
/Ej01Guia14JPA-Libreria - copia/build/
/Ej01Guia14JPA-Libreria - copia/nbproject/private/
/Ej01ExtraGuia14JPA-Libreria/build/
/Ej01ExtraGuia14JPA-Libreria/nbproject/private/
/Ej01Guia14JPA/nbproject/private/